/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Global styles
   ========================================================================== */
/*--------------COLORS-------------------*/
Navy Blue: #26265E;
Sage Green: #41937F;
Mint: #72FFC6;
Sea Green: #72FFDB;
Off White: #F7FFEF;
/*--------------COLORS-------------------*/
body,
html{
    font-size: 16px;
    color: #222222;
}
html {
    height: 100%;
    width: 100%;
}
body{
    background-color: #F7FFEF;
    font-family: 'Raleway', sans-serif;
    height: 100%;
    padding: 0 2em; 
    font-size: 1em;
    text-align: center;  
}
a{
    color: #41937F;
    text-decoration: none;
}
a:hover{
  color: #72FFDB;   
}
@font-face {
  font-family: 'Mission-Script';
  src: url('Missin-Script.woff') format('woff')
}
.flex-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    align-items:center;
}
/* ==========================================================================
   Header
   ========================================================================== */
h1{
    font-weight: 400;
    font-size: 2.617em;
}
h2{
    font-weight: 100;
    font-size: 1.618em;   
}
.hugging-emoji{
    width: 1.618em;
    height: auto;
}
.display{
    font-family: 'Mission-Script';
    white-space: nowrap;
    font-size: 1.618em;
}
/* ==========================================================================
   Aside
   ========================================================================== */
aside{
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: center;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}
.flex-items p{
    width: 90%;
}
.flex-items {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content:center;
    align-items:center;
}
.spacer{  
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;    
    background-color: #26265E;
    height: .25em;
    width: 75%;  
}
   /* ==========================================================================
   Main Section
   ========================================================================== */
.main{
    background-color: #26265E;
    color: white;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display:flex;
    justify-content:center;
    align-items:center;
}
.main-copy{
    width: 90%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display:flex;
    justify-content:center;
    align-items:center;
}
   /* ==========================================================================
   Footer
   ========================================================================== */

footer{
    padding: 1em 0;
}
footer i{
color: #41937F;
text-decoration: none;
  margin: 0 10px;
}
footer i:hover{
  color: #72FFDB;   
}







/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media screen and (min-width: 768px){
.spacer{
    height: auto;
    width: .25em;
}
.flex-items{
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    width: 30%;
}
.main{
    margin: 2.5%;
}
.main-copy{
    margin: 5%;
}
}
@media screen and (min-width: 940px){
aside{
    width: 30%;
}
.flex-items{
    -webkit-flex-flow: nowrap;
    flex-flow: nowrap;
    width: 90%;
}
.spacer{
    height: .25em;
    width: 75%; 
}
.main{
    width: 60%;
    height: auto;
}
.main-copy{
    font-size: 1.309em;
    margin: 7.5%;
}
footer{
    text-align: left;
    margin-left: 4%;
    padding: 1em 0 0 0;

}
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
